* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--padding-sm) var(--padding-2xl);
    border-bottom: 2px solid var(--border-primary-color);
    background: linear-gradient(180deg,
            var(--bg-secondary-color),
            var(--bg-primary-color));
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.app-header h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.app-header p {
    margin-top: var(--margin-sm);
    color: var(--text-secondary-color);
    font-size: var(--font-size-md);
}

.app-header h1:hover {
    color: var(--bg-danger-color);
}

main section {
    margin-top: 2.5rem;
    width: 100%;
    padding: var(--padding-lg) var(--padding-2xl);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "left center right";
    gap: var(--gutter-2xl);
}

section::selection {
    background: var(--bg-active-color);
    color: var(--text-active-color);
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    font-size: var(--font-size-md);
    background: var(--bg-active-color);
    border-radius: var(--border-radius-sm);
    color: var(--text-active-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: var(--bg-secondary-color);
    color: var(--text-primary-color);
}

.btn:active {
    background: var(--bg-secondary-color);
    color: var(--text-primary-color);
    scale: 0.95;
}

#reset-btn {
    background: var(--bg-danger-color);
    color: var(--text-primary-color);
    order: 1;
}

#download-btn {
    background: var(--bg-success-color);
    color: var(--text-primary-color);
    order: 2;
}

main section .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    grid-area: center;
    /* width: 70%; */
}

main section .left {
    /* width: 30%; */
    background: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    border: 2px solid var(--border-primary-color);
    grid-area: left;
}

main section .top {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-md);
}

main section .bottom {
    width: 100%;
    background: var(--bg-secondary-color);
    border: 2px dashed var(--border-secondary-color);
    border-radius: var(--border-radius-md);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-tertiary-color);
    flex: 1;
}

main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder i {
    font-size: 8rem;
}

main section .bottom .placeholder p {
    font-size: var(--font-size-md);
}

main section .left .filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    transition: all 0.3s ease;
}

main section .left .filter {
    width: 100%;
    transition: all 0.3s ease;
}

main section .left .filter input {
    margin-top: var(--margin-sm);
    width: 100%;
    appearance: none;
    border-radius: 3px;
    outline: none;
}

main section .left .filter input::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--bg-danger-color);
    cursor: pointer;
    appearance: none;
    margin-top: -5.5px;
}

main section .left .filter input::-webkit-slider-runnable-track {
    background: var(--bg-active-color);
    height: 3px;
    border-radius: var(--border-radius-md);
}

canvas {
    max-width: 90%;
    max-height: 80vh;
    display: none;
}

.presets {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
}

.preset-btn {
    width: 100%;
    background-color: var(--bg-active-color);
    border: 2px solid rgb(0, 42, 55);
    color: var(--text-active-color);
    word-break: break-all;
    transition: all 0.3s ease;
}

.preset-btn:hover {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-color: var(--border-secondary-color);
}

.preset-btn:active {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-color: var(--border-secondary-color);
    scale: 0.9;
}

.sidebar-presets {
    background: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    border: 2px solid var(--border-primary-color);
    grid-area: right;
}