* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    width: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-lg) var(--padding-2xl);
    display: flex;
    gap: var(--gutter-2xl);
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    background: var(--bg-active-color);
    border-radius: var(--border-radius-sm);
    color: var(--text-active-color);
    cursor: pointer;
}

#reset-btn{
    background: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background: var(--bg-success-color);
    color: var(--text-primary-color);
}

main section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    width: 70%;
}

main section .right{
    width: 30%;
    background: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .top {
    display: flex;
    gap: var(--gutter-md);
}

main section .bottom {
    width: 100%;
    background: var(--bg-secondary-color);
    border: 2px dashed var(--border-secondary-color);
    border-radius: var(--border-radius-md);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-tertiary-color);
    aspect-ratio: 5/3;
    /* height: 80vh; */
}

main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder i {
    font-size: 8rem;
}

main section .bottom .placeholder p {
    font-size: var(--font-size-md);
}

main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter{
    width: 100%;
}
main section .right .filter input{
    margin-top: var(--margin-sm);
    width: 100%;
    appearance: none;
    border-radius: 3px;
    /* -webkit-appearance: none;
    background: var(--bg-primary-color);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm) 0; */
    outline: none;
}

main section .right .filter input::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--bg-danger-color);
    cursor: pointer;
    appearance: none;
    margin-top: -5.5px;
}

main section .right .filter input::-webkit-slider-runnable-track {
    background: var(--bg-active-color);
    height: 3px;
    border-radius: var(--border-radius-md);
}